.bg-light {
    background-color: white !important;
    box-shadow: 0 3px 11px 0 rgba(0,0,0,.1);
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    background: #5a55aa;
    color: white;
}

.add-new {
    border-color: #5a54aa !important;
    border-radius: 50%;
}