<ngx-spinner></ngx-spinner>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button mat-raised-button data-toggle="modal" data-target="#myModal"><span data-toggle="tooltip" title="Add Bill" style="padding: 5px;"> + </span></button>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            </ul>
        </div>
    </nav>
</div>
<div class="container mt-3" *ngIf="merchants?.length">
    <div class="table-responsive shadow">
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>City</th>
                <th>Phone</th>
                <!-- <th>Total Lot</th>
                <th>Total Payment</th> -->
                <th colspan="2" style="text-align: center;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let merchant of merchants">
                <td><a [routerLink]="merchant?.name" (click)="setMerchant(merchant?._id, merchant?.name, merchant?.city, merchant?.phone)">{{merchant?.name | uppercase}}</a></td>
                <td>{{merchant?.city | titlecase}}</td>
                <td><a href="tel:{{merchant?.phone}}">{{merchant?.phone}}</a></td>
                <!-- <td>{{merchant?.totalLot}}</td>
                <td>₹ {{merchant?.totalPayment}}</td> -->
                <td class="text-center"><i class="fa fa-pencil-square-o edit-icon" (click)="getSingleMerchant(merchant?._id)" data-toggle="modal" data-target="#myEditModal" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-trash-o delete-icon" (click)="deleteMerchant(merchant?._id, merchant?.name, merchant?.city)" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="container" *ngIf="!merchants?.length">
  <div class="col-md-3"></div>
  <div class="col-md-6">No Merchants Found</div>
  <div class="col-md-3"></div>
</div>
<!-- Add merchant -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Add Merchant Details</h4>
          <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
          <form class="" [formGroup]="addMerchantForm" (ngSubmit)="onAddMerchantSubmit()" >
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field>
                  <input type="text"
                         placeholder="Enter city"
                         aria-label="City"
                         matInput
                         [formControl]="addMerchantForm.get('city')"
                         [matAutocomplete]="autoCity">
                  <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
                    <mat-option *ngFor="let city of filteredCityOptions | async" [value]="city">
                      {{city}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input type="number" matInput formControlName="phone">
              </mat-form-field>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mr-4" [disabled]="!addMerchantForm.valid">Add Merchant</button>
              <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
            </div>
          </form>
        </div>  
      </div>
    </div>
</div>
<!-- Edit Merchant -->
<div class="modal" id="myEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Merchant Details</h4>
        <button type="button" #closeeditbutton class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="" [formGroup]="editMerchantForm" (ngSubmit)="onEditMerchantSubmit(merchant?._id)" >
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>{{merchant?.name}}</mat-label>
                <input matInput type="text" disabled>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>{{merchant?.city}}</mat-label>
                <input type="text" matInput disabled>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input type="number" matInput formControlName="phone">
              </mat-form-field>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mr-4" [disabled]="!editMerchantForm.valid">Update Merchant</button>
            <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
          </div>
        </form>
      </div>  
    </div>
  </div>
</div>