<ngx-spinner></ngx-spinner>
<div class="container">
    <div class="customer-details" id="printableTransactionArea">
        <div class="row">
            <!-- <div class="col-md-3 text-center">
                <img class="img-circle" src="https://rukminim1.flixcart.com/www/200/200/promos/22/06/2020/1b40ccb7-cd9c-4241-a67e-163aa087d5be.png?q=90" alt="">
            </div> -->
            <div class="col-md-7 text-center">
                <p class="logo-text">{{cust_name | titlecase}}</p>
                <p class="">{{cust_city | titlecase}}</p>
            </div>
            <div class="col-md-3 text-center">
                <div class="slogan">
                  <a href="tel:{{cust_phone}}">
                    <i class="fa fa-phone" aria-hidden="true"></i> {{cust_phone}}
                  </a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <button mat-raised-button style="height: 36px;" *ngIf="smallDevice" (click)="printDiv()">Download/Print</button>
                <button mat-raised-button [useExistingCss]="true" *ngIf="!smallDevice" printSectionId="printableTransactionArea" ngxPrint>Download/Print</button>
            </div>
        </div>
        <hr>
        <div class="transactions">
            <h4 class="slogan text-center">Transactions</h4>
            <div class="bill" *ngFor="let bill of bills">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="created_at">
                            <tr>
                                <th colspan="1" class="no-border">{{bill?.createdAt.substr(0,10)}}</th>
                                <th colspan="4" class="no-border text-right">
                                    <span *ngIf="bill?.deposit"> Deposit: ₹ {{bill?.deposit}}</span> 
                                    <span *ngIf="bill?.discount"> | Discount: ₹ {{bill?.discount}} </span>
                                    <span *ngIf="bill?.totalAmount">| Total: ₹ {{bill?.totalAmount}}</span>  
                                </th>
                            </tr>
                        </thead>
                        <thead>
                            <th>Description</th>
                            <th>Party</th>
                            <th>Ctn/Kg</th>
                            <th>Rate</th>
                            <th>Item Amount</th>
                        </thead>
                        <tbody *ngFor="let item of bill.itemRows" class="createdAt">
                            <td>{{item?.description | titlecase}}</td>
                            <td>{{item?.merchant | uppercase}}</td>
                            <td>{{item?.ctnKg}}</td>
                            <td>{{item?.rate}}</td>
                            <td>{{item?.itemAmount}}</td>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2" class="no-border">
                                    <span *ngIf="bill?.caratsSent"> Carats Sent: {{bill?.caratsSent}}</span>
                                </td>
                                <td colspan="3" class="no-border text-right">
                                    <span *ngIf="bill?.caratsRecieved">Carats Recieved: {{bill?.caratsRecieved}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <br>
            </div>
        </div>
    </div>
</div>