.img-circle {
    border-radius: 50%;
    width: 150px;
}
.container {
    border: 1px solid #ece4e4;
    padding: 31px;
    background: white;
}
.slogan {
    padding-top: 15px;
    padding-bottom: 15px;
}
.created_at {
    background: #cecccc;
    padding: 0 12px;
}
.download {
    background: #5a55aa;
    border-color: #5a55aa;
}

.no-border {
    border: none;
}