<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button type="button" class="btn btn-filter sm-btn" (click)="allBijak()">
            All Bijaks
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          </ul>
        </div>
    </nav>
</div>
<div class="container mt-4">
    <form class="" [formGroup]="addBijakForm" (ngSubmit)="onAddBijakSubmit()" >
        <div class="row">
            <div class="col-md-3">
                <mat-form-field>
                    <input type="text"
                           placeholder="Enter party"
                           aria-label="Party"
                           matInput
                           [formControl]="addBijakForm.get('ms')"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <input type="text"
                           placeholder="Enter city"
                           aria-label="City"
                           matInput
                           [formControl]="addBijakForm.get('city')"
                           [matAutocomplete]="autoCity">
                    <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
                      <mat-option *ngFor="let city of filteredCityOptions | async" [value]="city">
                        {{city}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <!-- Description <br>
                <ckeditor
                    formControlName="description"
                    [(ngModel)]="ckeditorContent"
                    [config]="{uiColor: '#f1f1f1'}"
                    [readonly]="false"
                    debounce="500">
                </ckeditor> -->
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Truck no.</mat-label>
                    <input matInput type="text" formControlName="truckNo">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>Date Of Reciept</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateOfReciept">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>                
            </div>
            <div class="col-md-2">
                <mat-form-field>
                    <mat-label>Dispatch Date</mat-label>
                    <input matInput [matDatepicker]="picker1" formControlName="dispatchDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <h4>Items</h4>
        <hr>
        <div formArrayName="itemRows"
            *ngFor="let item of addBijakForm.get('itemRows')['controls']; let i = index;">
            <div [formGroupName]="i">
                <div class="row">
                    <div style="display: none;">
                        <mat-form-field appearance="fill">
                            <mat-label>S.No.</mat-label>
                            <input value="{{i+1}}" matInput formControlName="sno" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <!-- <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field> -->
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput list="datalist" formControlName="description" (keyup)="getDescription($event.target.value)" spellcheck="false">
                            <datalist id="datalist"> 
                              <option value="{{description}}" *ngFor="let description of descriptions"></option> 
                            </datalist>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>ctn/Kg</mat-label>
                            <input matInput formControlName="ctnKg" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="fill">
                            <mat-label>Rate</mat-label>
                            <input matInput formControlName="rate" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 mt-3 mb-3 text-center">
                        <button type="button" class="btn btn-success" (click)="addItem(i+1)"> + </button>
                        <button *ngIf="i>0" (click)="deleteRow(i)" class="btn btn-danger">
                            <i class="fa fa-trash red-icon edit-del"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h4>Expenses</h4>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Truck Freight</mat-label>
                    <input matInput type="number" formControlName="truckFreight">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Unloading</mat-label>
                    <input type="number" matInput formControlName="unloading">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Loading</mat-label>
                    <input matInput type="number" formControlName="loading">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Rail Freight</mat-label>
                    <input matInput type="number" formControlName="railFreight">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Cold Storage</mat-label>
                    <input matInput type="number" formControlName="coldStorage">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Postage</mat-label>
                    <input type="number" matInput formControlName="postage">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Phone Expense</mat-label>
                    <input matInput formControlName="phone" type="number">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Station Mandi Exp</mat-label>
                    <input type="number" matInput formControlName="stationMandiExp">
                </mat-form-field>
            </div>
            <div class="col-md-2">
                <mat-form-field appearance="fill">
                    <mat-label>Charity</mat-label>
                    <input type="number" matInput formControlName="charity">
                </mat-form-field>
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary mr-4" [disabled]="!addBijakForm.valid">Add Bijak</button>
            <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
        </div>
    </form>
</div>
<ngx-spinner></ngx-spinner>