<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <h4 class="card-title">Sales Report for {{selected_date | date: 'mediumDate'}}</h4>
                  </div>
                  <div class="float-right">
                    <mat-form-field>
                      <mat-label>Select Date</mat-label>
                      <input max="{{todayDate}}" matInput [matDatepicker]="picker" (dateChange)="salesReportForSpecificDate($event)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="table-responsive shadow">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Description</th>
                                <th>Party</th>
                                <th>Lot</th>
                                <th>Rate</th>
                                <th>Ctn/Kg</th>
                                <th>Item Amt</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="totalSells.length">
                            <tr *ngFor="let totalSell of totalSells">
                                <td>{{totalSell?.customerName | titlecase}} | {{totalSell?.customerCity | titlecase}}</td>
                                <td>{{totalSell?.item?.description}}</td>
                                <td>{{totalSell?.item?.merchant}}</td>
                                <td>{{totalSell?.item?.lot}}</td>
                                <td>₹ {{totalSell?.item?.rate}}</td>
                                <td>{{totalSell?.item?.ctnKg}}</td>
                                <td>₹ {{totalSell?.item?.itemAmount}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="!totalSells.length">
                            <td class="text-center" colspan="7"> No sale report for {{selected_date | date: 'mediumDate'}}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            Averages
        </div> -->
    </div>
</div>