.card {
    border: none;
}
.mat-raised-button {
    width: 100%;
}
.number {
    font-size: 25px;
    text-align: center;
    background: #fde8ef;
}
.modal-content {
    width: 100% !important;
}
.badge {
    font-size: 16px;
}
.created_at {
    background: #cecccc;
    padding: 0 12px;
    text-align: center;
    font-weight: 600;
}