<ngx-spinner></ngx-spinner>
<div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="card shadow">
                <div class="card-body">
                  <h4 class="card-title">Total Customers</h4>
                  <p class="card-text number" style="background: #effde8;">{{totalCustomers}}</p>
                  <button mat-raised-button class="mt-4" (click)="checkList()">See List</button>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card shadow">
                <div class="card-body">
                  <h4 class="card-title">Total Amount Pending</h4>
                  <p class="card-text number">{{totalAmountPending}}</p>
                  <button mat-raised-button (click)="checkAmountPending()" class="mt-4" data-toggle="modal" data-target="#myAmountPendingModal" aria-hidden="true">Check Details</button>
                </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title">Total Carats Pending</h4>
                <p class="card-text number">{{totalCaratsPending}}</p>
                <button mat-raised-button (click)="checkCaratPending()" class="mt-4" data-toggle="modal" data-target="#myCaratPendingModal" aria-hidden="true">Check Details</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title">Total Party</h4>
                <p class="card-text number" style="background: #effde8;">{{totalMerchants}}</p>
                <button mat-raised-button (click)="checkPartyList()" class="mt-4" data-toggle="modal" data-target="#myCaratPendingModal" aria-hidden="true">See List</button>
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="card shadow">
              <div class="card-body">
                <h4 class="card-title">Daily Averages</h4>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 mb-3">
        <div class="row">
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <div class="clearfix">
                  <div class="float-left">
                    <h4 class="card-title">Sales Report</h4>
                  </div>
                  <div class="float-right">
                    <mat-form-field>
                      <mat-label>Select Date</mat-label>
                      <input  max="{{todayDate}}" matInput [matDatepicker]="picker" (dateChange)="salesReportForSpecificDate($event)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="table-responsive shadow">
                  <table class="table table-striped">
                    <tbody>
                        <tr class="created_at">
                          <td colspan="2">{{salesReportData?.billDate | date: "mediumDate"}}</td>
                        </tr>
                        <tr>
                          <th>Total Bills</th>
                            <td> {{salesReportData?.totalBills}} </td>
                        </tr>
                        <tr>
                          <th>Total Bill Amount</th>
                            <td>₹ {{salesReportData?.totalBillAmount}} </td>
                        </tr>
                        <tr>
                          <th>Total Deposit</th>
                            <td>₹ {{salesReportData?.totalBillDeposit}} </td>
                        </tr>
                        <tr>
                          <th>Total Discount</th>
                            <td>₹ {{salesReportData?.totalBillDiscount}} </td>
                        </tr>
                        <tr>
                          <th>Total Pending</th>
                            <td>₹ {{salesReportData?.totalBillDeposit - salesReportData?.totalBillDiscount}} </td>
                        </tr>
                        <tr><td></td><td></td></tr>
                        <tr>
                          <th>Total Carats Sent</th>
                            <td>{{salesReportData?.totalCaratsSent}} </td>
                        </tr>
                        <tr>
                          <th>Total Carats Recieved</th>
                            <td>{{salesReportData?.totalCaratsRecieved}} </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Amount Pending Modal -->
<div class="modal" id="myAmountPendingModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Total Amount Pending</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="table-responsive pad-20 shadow">
            <table class="table table-striped">
              <tbody>
                  <tr *ngFor="let amtPending of totalAmtPendings">
                    <th>{{amtPending?._id | titlecase}}</th>
                      <td>
                        <span class="badge badge-pill badge-danger" *ngIf="amtPending?.totalPendingAmount > 100000">
                          ₹ {{amtPending?.totalPendingAmount}}
                        </span>
                        <span class="badge badge-pill badge-warning" *ngIf="amtPending?.totalPendingAmount <= 100000 && amtPending?.totalPendingAmount > 50000">
                          ₹ {{amtPending?.totalPendingAmount}}
                        </span>
                        <span class="badge badge-pill badge-primary" *ngIf="amtPending?.totalPendingAmount <= 50000">
                          ₹ {{amtPending?.totalPendingAmount}}
                        </span>
                      </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>  
      </div>
    </div>
</div>

<!-- Carats Pending Modal -->
<div class="modal" id="myCaratPendingModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Total Carats Pending</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="table-responsive pad-20 shadow">
            <table class="table table-striped">
              <tbody>
                  <tr *ngFor="let crtsPending of totalCrtsPendings">
                    <th>{{crtsPending?._id | titlecase}}</th>
                      <td>
                        <span class="badge badge-pill badge-danger" *ngIf="crtsPending?.totalPendingCarat > 1000">
                          ₹ {{crtsPending?.totalPendingCarat}}
                        </span>
                        <span class="badge badge-pill badge-warning" *ngIf="crtsPending?.totalPendingCarat <= 1000 && crtsPending?.totalPendingCarat > 500">
                          ₹ {{crtsPending?.totalPendingCarat}}
                        </span>
                        <span class="badge badge-pill badge-primary" *ngIf="crtsPending?.totalPendingCarat <= 500">
                          ₹ {{crtsPending?.totalPendingCarat}}
                        </span>
                      </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>  
      </div>
    </div>
</div>