<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button mat-raised-button (click)="addBijak()">
            <span data-toggle="tooltip" title="Add Bill" style="padding: 5px;"> + </span>
        </button>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <div class="dropdown nav-link">
                  <button type="button" class="btn btn-filter" (click)="allBijak()">
                    All Bijaks
                  </button>
                </div>
            </li>
            <!-- <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
                  Party
                </button>
                <div class="dropdown-menu">
                  <p class="dropdown-item" (click)="partyFilter(customer?._id)" *ngFor="let customer of customers">{{customer?.name | titlecase}} | {{customer?.city | titlecase}}</p>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
                  City
                </button>
                <div class="dropdown-menu">
                  <p class="dropdown-item" (click)="cityFilter(city?.name)" *ngFor="let city of cities">{{city?.name | titlecase}}</p>
                </div>
              </div>
            </li> -->
          </ul>
        </div>
    </nav>
</div>
<div class="container">
    <div class="bijak">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="bijakList">
                    <div class="card" *ngFor="let bijak of bijaks | paginate: { itemsPerPage: itemPage, currentPage: page, totalItems: totalBijaks }">
                        <div class="card-body" 
                            [ngClass]="{active: isActive(bijak?._id)}"
                            (click)="getBijak(bijak?._id)">
                            <blockquote class="blockquote">
                                <div class="clearfix">
                                    <div class="float-left"><small>{{bijak?.ms | uppercase}} | {{bijak?.city | titlecase}}</small></div>
                                    <div class="float-right">
                                        <small>Total: ₹ {{bijak?.netSale}}</small>
                                        <span class="dropdown">
                                            <i class="fa fa-ellipsis-v dropdown-toggle menu-des" aria-hidden="true" data-toggle="dropdown"></i>
                                            <div class="dropdown-menu">
                                              <!-- <button class="dropdown-item" data-toggle="modal" data-target="#myEditModal" (click)="getBijak(bijak?._id)">Edit</button> -->
                                              <button class="dropdown-item" [useExistingCss]="true" *ngIf="!smallDevice" printSectionId="printableBijakArea" ngxPrint>Download/Print</button>
                                              <button class="dropdown-item" *ngIf="smallDevice" (click)="printDiv()">Download/Print</button>
                                              <button class="dropdown-item" (click)="deleteBijak(bijak?._id)" style="color: red;">Delete</button>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <div class="float-left"><small>{{bijak?.dateOfReciept | date: 'dd/MM/yyyy'}}</small></div>
                                    <div class="float-right"><small>Total Nags: {{bijak?.totalNags}}</small></div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div>
                    <pagination-controls (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
                    responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
                </div>
            </div>
            <div class="col-md-8 mb-4">
                <div class="bijakData table-responsive">
                    <div id="printableBijakArea">
                        <ngx-spinner></ngx-spinner>
                        <table align="center" style="margin:0px auto;border:1px solid black;border-collapse: collapse;">
                            <tr>
                                <!-- <td colspan="7">
                                    <img class="img-fluid banner-img"
                                    src="{{bijakImage}}"
                                    alt="bijImg"/></td> -->
                                <td style="padding-left: 5px; border: none;" colspan="1" class="border-none">
                                    <!-- <img class="logo-img"
                                    src="{{logoImage}}"
                                    alt="logoImg"/> -->
                                    <p class="logo-design" style="padding: 15px;
                                        border: 1px solid;
                                        border-radius: 50%;
                                        margin: 15px;
                                        background: gainsboro;
                                        text-align: center;">{{shop?.shortShopName | uppercase}}</p>
                                </td>
                                <td style="border:none;padding-left: 5px; text-align: center;" colspan="5" class="text-center border-none">
                                    <p>{{shop?.shopName | uppercase}}</p>
                                    <p>{{shop?.shopAddress | uppercase}}</p>
                                </td>
                                <td style="border:none;padding-left: 5px;" colspan="1" class="text-center border-none" style="padding: 15px;">
                                    <i class="fa fa-phone" aria-hidden="true"></i> {{shop?.shopPhone1}}
                                </td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="2">No.&nbsp;&nbsp;{{singleBijak?.bijakNo}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="5">Date of Receipt:&nbsp;&nbsp;{{singleBijak?.dateOfReciept | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="7">M/s:&nbsp;&nbsp;<b>{{singleBijak?.ms | uppercase}}</b></td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="2">At:&nbsp;{{singleBijak?.city | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="3">Truck No.:&nbsp;{{singleBijak?.truckNo}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="2">Dispatch Date:&nbsp;&nbsp;{{singleBijak?.dispatchDate | date: 'dd/MM/yyyy'}}</td>
                
                            </tr>
                            <tr><td style="border:1px solid black;padding-left: 5px;" colspan="7" align="center">We thank you for the consignment,sale proceeds in as under.</td></tr>
                            <tr>
                                <th style="border:1px solid black;padding-left: 5px;">Sno.</th>
                                <th style="border:1px solid black;padding-left: 5px;">Description</th>
                                <th style="border:1px solid black;padding-left: 5px;">Ctn/Kg</th>
                                <th style="border:1px solid black;padding-left: 5px;">Rate</th>
                                <th style="border:1px solid black;padding-left: 5px;">Amount</th>
                                <th style="border:1px solid black;padding-left: 5px;">Expenses</th>
                                <th style="border:1px solid black;padding-left: 5px;">Amount</th>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[0]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[0]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[0]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[0]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[0]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Commission</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.commission | number: '1.2-2'}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[1]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[1]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[1]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[1]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[1]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Truck Freight</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.truckFreight}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[2]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[2]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[2]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[2]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[2]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Rail Freight</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.railFreight}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[3]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[3]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[3]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[3]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[3]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Station and Mandi Exp</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.stationMandiExp}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[4]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[4]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[4]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[4]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[4]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Unloading</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.unloading}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[5]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[5]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[5]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[5]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[5]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Postage & Tale</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.postage}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[6]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[6]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[6]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[6]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[6]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Phone</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.phone}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[7]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[7]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[7]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[7]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[7]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Cold Storage</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.coldStorage}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[8]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[8]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[8]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[8]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[8]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Loading</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.loading}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[9]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[9]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[9]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[9]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[9]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Charity</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.charity}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[10]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[10]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[10]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[10]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[10]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[11]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[11]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[11]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[11]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[11]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[12]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[12]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[12]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[12]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[12]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[13]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[13]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[13]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[13]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[13]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[14]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[14]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[14]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[14]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[14]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" align="left">{{singleBijak?.itemRows[15]?.sno}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">{{singleBijak?.itemRows[15]?.description | titlecase}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[15]?.ctnKg}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[15]?.rate}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.itemRows[15]?.itemAmount}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="4" align="right">Total Gross Sale</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.totalGrossSale}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="4" align="right">Less: Expenses</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.totalExpenses | number: '1.2-2'}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                                <td style="border:1px solid black;padding-left: 5px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="2">Total Nags:&nbsp;&nbsp;{{singleBijak?.totalNags}}</td>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="2">Net Sale</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.netSale}}</td>
                                <td style="border:1px solid black;padding-left: 5px;">Total Expenses</td>
                                <td style="border:1px solid black;padding-left: 5px;" align="right">{{singleBijak?.totalExpenses | number: '1.2-2'}}</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="2">Net Sale(in words) Rupees</td>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="5">{{singleBijak?.amountInWord | titlecase}} Only</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="7" align="left">Credited in Your Account. Kindly Send Quality Goods for
                                    Best Returns of Profit.</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="7" align="left">NB Expenses will be charged according to our shop rules.Not 
                                    responsible for</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="7" align="left">Goods Damaged or Less Weight.All Disputes Subject to 
                                    {{shop?.shopCity | titlecase}} Jurisdiction.</td>
                            </tr>
                            <tr>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="5" align="left">Market Closed in Month Last Day,send soon O.R.R</td>
                                <td style="border:1px solid black;padding-left: 5px;" colspan="2" align="right">For {{shop?.shopName | titlecase}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>