.bg-light {
    background-color: white !important;
    box-shadow: 0 3px 11px 0 rgba(0,0,0,.1);
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    background: #5a55aa;
    color: white;
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    border-radius: 0;
}

.card-body {
    padding: .25rem 1.5rem;
}

.card:hover {
    box-shadow: 0 3px 11px 0 rgba(0,0,0,.1);
    cursor: pointer;
    background:#fafafa;
}

.active {
    background:#eae9f3;
}

.billList {
    overflow-y: scroll;
    height: 100vh;
}

.billList, .billData {
    box-shadow: 0 3px 11px 0 rgba(0,0,0,.1);
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.banner-img {
    width: 652px;
    height: 125px;
}

.bill_cont {
    padding: 20px;
}

.slogan {
    font-size: 14px;
}
.address {
    padding-top: 15px;
    padding-bottom: 25px;
}
.total {
    padding: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    background: #f5f5f5;
}
.dropdown-toggle::after {
    border: 0 !important;  
}
.menu-des {
    padding: 0 13px;
    position: absolute;
    top: 4px;
    right: -25px;
}
.add-new {
    border-color: #5a54aa !important;
    border-radius: 50%;
}