<ngx-spinner></ngx-spinner>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button mat-raised-button data-toggle="modal" data-target="#myModal"><span data-toggle="tooltip" title="Add Bill" style="padding: 5px;"> + </span></button>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter" (click)="allBill()">
                  All Bills
                </button>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
                  Select Customer
                </button>
                <div class="dropdown-menu">
                  <p class="dropdown-item" (click)="customerFilter(customer?._id)" *ngFor="let customer of customers">{{customer?.name | titlecase}} | {{customer?.city | titlecase}}</p>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
                  Select City
                </button>
                <div class="dropdown-menu">
                  <p class="dropdown-item" (click)="cityFilter(city)" *ngFor="let city of cities">{{city | titlecase}}</p>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <mat-form-field>
                <mat-label>Select Date</mat-label>
                <input  max="{{todayDate}}" matInput [matDatepicker]="picker" (dateChange)="salesReportForSpecificDate($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </li>
            <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
                  1-{{itemPage}} of {{totalBills}}
                </button>
                <div class="dropdown-menu">
                  <p class="dropdown-item" (click)="timespan('new')">Newest</p>
                  <p class="dropdown-item" (click)="timespan('old')">Oldest</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
    </nav>
</div>

<div class="container">
  <div class="bill">
      <div class="row">
          <div class="col-md-4 mb-4">
              <div class="billList" *ngIf="bills?.length">
                  <div class="card" *ngFor="let bill of bills | paginate: { itemsPerPage: itemPage, currentPage: page, totalItems: totalBills }">
                      <div class="card-body" 
                          [ngClass]="{active: isActive(bill?._id)}"
                          (click)="getSingleBill(bill?._id)">
                          <blockquote class="blockquote">
                              <div class="clearfix">
                                  <div class="float-left"><small>{{bill?.customer[0]?.name | titlecase}} | {{bill?.customer[0]?.city | titlecase}}</small></div>
                                  <div class="float-right">
                                    <small>Total: ₹ {{bill?.totalAmount}}</small>
                                    <span class="dropdown">
                                      <i class="fa fa-ellipsis-v dropdown-toggle menu-des" aria-hidden="true" data-toggle="dropdown"></i>
                                      <div class="dropdown-menu">
                                        <button class="dropdown-item" data-toggle="modal" data-target="#myEditModal">Edit</button>
                                        <button class="dropdown-item" *ngIf="smallDevice" (click)="printDiv()">Download/Print</button>
                                        <button class="dropdown-item" *ngIf="!smallDevice" [useExistingCss]="true" printSectionId="printableBillArea" ngxPrint>Download/Print</button>
                                        <button class="dropdown-item" (click)="deleteBill(bill?._id, bill?.customer[0]?.name, bill?.customer[0]?.city)" style="color: red;">Delete</button>
                                      </div>
                                    </span>
                                  </div>
                              </div>
                              <div class="clearfix">
                                  <div class="float-left">
                                    <small>{{bill?.createdAt.substr(0,10)}}</small>
                                  </div>
                                  <div class="float-right">
                                    <small>Status: 
                                      <span class="badge badge-pill badge-danger" *ngIf="bill?.totalAmount - bill?.deposit > 0">
                                        ₹ {{bill?.totalAmount - bill?.deposit}}
                                      </span>
                                      <span class="badge badge-pill badge-primary" *ngIf="bill?.totalAmount - bill?.deposit < 0">
                                        ₹ {{bill?.totalAmount - bill?.deposit}}
                                      </span>
                                      <span class="badge badge-pill badge-success" *ngIf="bill?.totalAmount - bill?.deposit == 0">
                                        Paid
                                      </span>
                                    </small>
                                  </div>
                              </div>
                          </blockquote>
                      </div>
                  </div>
              </div>
              <div class="billList text-center" *ngIf="!bills?.length" style="padding-top: 50px;">No Bill added! 
                <button class="btn text-left" data-toggle="modal" data-target="#myModal" style="color: blue;">Add Bill</button>
              </div>
              <div>
                <pagination-controls (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
                responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
              </div>
          </div>
          <div class="col-md-8 mb-4">
              <div class="billData table-responsive">
                  <div id="printableBillArea">
                      <ngx-spinner></ngx-spinner>
                    <div class="container bill_cont">
                      <div class="clearfix1" style="overflow: auto;">
                        <div class="float-left1" style="float: left;">
                          <h1 class="logo-text">{{shopDetails?.shopName | uppercase}}</h1>
                          <div class="slogan">{{shopDetails?.shopAddress | uppercase}}</div>
                          <div class="slogan">{{shopDetails?.shopPhone1}}</div>
                        </div>
                        <div class="float-right1 slogan" style="float: right;">INVOICE</div>
                      </div>
                      <hr>
                      <div class="clearfix address" style="overflow: auto;">
                        <div class="float-left" style="float: left;">
                          <p class="slogan"><b>Invoice To</b></p>
                          <p>{{bill?.customerId?.name | titlecase}}</p>
                          <p>{{bill?.customerId?.city | titlecase}}</p>
                        </div>
                        <div class="float-right" style="float: right;">
                          <p><span class="slogan">Order Date: </span>{{bill?.createdAt.substr(0,10)}}</p>
                          <p>
                            <span class="slogan">Order Status: </span>
                            <span class="badge badge-pill badge-danger" *ngIf="bill?.totalAmount - bill?.deposit > 0">
                              ₹ {{bill?.totalAmount - bill?.deposit}}
                            </span>
                            <span class="badge badge-pill badge-success" *ngIf="bill?.totalAmount - bill?.deposit <= 0">
                              Paid
                            </span>
                          </p>
                          <p><span class="slogan">Order Id: </span> {{bill?._id}} </p>
                        </div>
                      </div>
                      <div *ngIf="!smallDevice" class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <th>Item</th>
                            <th>Party</th>
                            <th>CtnKg</th>
                            <th>Rate</th>
                            <th>Lot</th>
                            <th>Item Total</th>
                          </thead>
                          <tbody *ngFor="let item of bill?.itemRows">
                            <td>{{item?.description | titlecase}}</td>
                            <td>{{item?.merchant | uppercase}}</td>
                            <td>{{item?.ctnKg}}</td>
                            <td><span *ngIf="item?.rate"> ₹ {{item?.rate}}</span></td>
                            <td><span *ngIf="item?.lot"> {{item?.lot}}</span></td>
                            <td><span *ngIf="item?.itemAmount"> ₹ {{item?.itemAmount}}</span></td>
                          </tbody>
                        </table>
                      </div>
                      <div *ngIf="smallDevice" class="table-responsive">
                        <table class="table table-striped" style="border: 1px solid black;border-collapse: collapse;">
                          <thead>
                            <th style="border: 1px solid black;padding: 12px;">Item</th>
                            <th style="border: 1px solid black;padding: 12px;">Party</th>
                            <th style="border: 1px solid black;padding: 12px;">CtnKg</th>
                            <th style="border: 1px solid black;padding: 12px;">Rate</th>
                            <th style="border: 1px solid black;padding: 12px;">Item Total</th>
                          </thead>
                          <tbody *ngFor="let item of bill?.itemRows">
                            <td style="border: 1px solid black;padding: 12px;">{{item?.description | titlecase}}</td>
                            <td style="border: 1px solid black;padding: 12px;">{{item?.merchant | uppercase}}</td>
                            <td style="border: 1px solid black;padding: 12px;">{{item?.ctnKg}}</td>
                            <td style="border: 1px solid black;padding: 12px;">
                              <span *ngIf="item?.rate"> ₹ {{item?.rate}}</span>
                            </td>
                            <td style="border: 1px solid black;padding: 12px;">
                              <span *ngIf="item?.itemAmount"> ₹ {{item?.itemAmount}}</span>
                            </td>
                          </tbody>
                        </table>
                      </div>
                      <div class="clearfix1" style="padding-top: 20px;overflow: auto;">
                        <div class="float-left1" style="float: left;">
                          <p>
                            <span *ngIf="bill?.deposit"><strong>Deposit: </strong>₹ {{bill?.deposit}}</span>
                          </p>
                          <p>
                            <span *ngIf="bill?.caratsSent"><strong>Carats Sent: </strong> {{bill?.caratsSent}}</span>
                          </p>
                          <p>
                            <span *ngIf="bill?.caratsRecieved"><strong>Carats Recieved: </strong> {{bill?.caratsRecieved}}</span>
                          </p>
                        </div>
                        <div class="float-right1" style="float: right;">
                          <p>
                            <span *ngIf="bill?.subTotal"><strong>Sub-total: </strong>₹ {{bill?.subTotal}}</span>
                          </p>
                          <p>
                            <span *ngIf="bill?.discount"><strong>Discount: </strong>₹ {{bill?.discount}}</span> 
                          </p>
                          <p class="logo-text total">
                            <span *ngIf="bill?.totalAmount">Net Amount: ₹ {{bill?.totalAmount }}</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Add Bill -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Add Bill Details</h4>
          <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
          <form class="" [formGroup]="addBillForm" (ngSubmit)="onAddBillSubmit()" autocomplete="off">
            <div class="row">
              <div class="col-md-4">
                <mat-form-field>
                  <input type="text"
                         placeholder="Enter name"
                         aria-label="Name"
                         matInput
                         [formControl]="addBillForm.get('name')"
                         [matAutocomplete]="auto">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <input type="text"
                         placeholder="Enter city"
                         aria-label="City"
                         matInput
                         [formControl]="addBillForm.get('city')"
                         [matAutocomplete]="autoCity">
                  <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
                    <mat-option *ngFor="let city of filteredCityOptions | async" [value]="city">
                      {{city}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Bill Date</mat-label>
                  <input  max="{{todayDate}}" matInput [matDatepicker]="billPicker" (dateChange)="billDate($event)">
                  <mat-datepicker-toggle matSuffix [for]="billPicker"></mat-datepicker-toggle>
                  <mat-datepicker #billPicker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Deposit</mat-label>
                  <input type="number" matInput formControlName="deposit">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Discount</mat-label>
                    <input matInput formControlName="discount" type="number">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Carats Sent</mat-label>
                    <input matInput formControlName="caratsSent" type="number">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                    <mat-label>Carats Recieved</mat-label>
                    <input matInput formControlName="caratsRecieved" type="number">
                </mat-form-field>
              </div>
            </div>
            <hr>
            <h4>Items</h4>
            <hr>
            <div formArrayName="itemRows"
              *ngFor="let item of addBillForm.get('itemRows')['controls']; let i = index;">
              <div [formGroupName]="i">
                <div class="row">
                    <div class="col-md-2">
                        <mat-form-field appearance="fill">
                            <mat-label>Description</mat-label>
                            <input matInput list="datalist" formControlName="description" (keyup)="getDescription($event.target.value)" spellcheck="false">
                            <datalist id="datalist"> 
                              <option value="{{description}}" *ngFor="let description of descriptions"></option> 
                            </datalist>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field>
                        <mat-label>Choose Party</mat-label>
                        <select matNativeControl formControlName="merchant">
                          <option style="padding: 10px 5px;" value="{{merchant?.name}}" *ngFor="let merchant of merchants">{{merchant?.name}}</option>
                        </select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="fill">
                            <mat-label>ctn/Kg</mat-label>
                            <input matInput formControlName="ctnKg" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="fill">
                            <mat-label>Rate</mat-label>
                            <input matInput formControlName="rate" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                      <mat-form-field appearance="fill">
                          <mat-label>Lot</mat-label>
                          <input matInput formControlName="lot" type="number">
                      </mat-form-field>
                    </div>
                    <div class="col-md-2 mt-3 mb-3">
                        <button type="button" class="btn btn-success" (click)="addItem()"> + </button>
                        <button *ngIf="i>0" (click)="deleteRow(i)" class="btn btn-danger">
                          <i class="fa fa-trash red-icon edit-del"></i>
                        </button>
                      </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mr-4" [disabled]="!addBillForm.valid">Add Bill</button>
              <!-- <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button> -->
            </div>
          </form>
        </div>  
      </div>
    </div>
</div>

<!-- Edit Bill -->
<div class="modal" id="myEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Bill Details</h4>
        <button type="button" #closeeditbutton class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="" [formGroup]="editBillForm" (ngSubmit)="onEditBillSubmit()">
          <div class="row">
            <div class="col-md-6">
              <!-- <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" value="{{editBillData?.customerId?.name}}" formControlName="name">
              </mat-form-field> -->
              <div class="form-group">
                <!-- <label for="usr">Name:</label> -->
                <input type="text" class="form-control" value="{{editBillData?.customerId?.name}}" formControlName="name" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <!-- <label for="city">City:</label> -->
                <input type="text" class="form-control" formControlName="city" value="{{editBillData?.customerId?.name}}" disabled>
              </div>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>Deposit</mat-label>
                <input type="number" matInput value="{{editBillData?.deposit}}" formControlName="deposit">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                  <mat-label>Discount</mat-label>
                  <input matInput formControlName="discount" value="{{editBillData?.discount}}" type="number">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                  <mat-label>Carats Sent</mat-label>
                  <input matInput formControlName="caratsSent" value="{{editBillData?.caratsSent}}"  type="number">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                  <mat-label>Carats Recieved</mat-label>
                  <input matInput formControlName="caratsRecieved" value="{{editBillData?.caratsRecieved}}" type="number">
              </mat-form-field>
            </div>
          </div>
          <hr>
          <h4>Items</h4>
          <hr>
          <div formArrayName="itemRows"
            *ngFor="let item of editBillForm.get('itemRows')['controls']; let i = index;">
            <div [formGroupName]="i">
              <div class="row">
                  <div class="col-md-2">
                    <mat-form-field appearance="fill">
                      <mat-label>Description</mat-label>
                      <input matInput list="datalist" formControlName="description" (keyup)="getDescription($event.target.value)" spellcheck="false">
                      <datalist id="datalist"> 
                        <option value="{{description}}" *ngFor="let description of descriptions"></option> 
                      </datalist>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field>
                      <mat-label>Choose Party</mat-label>
                      <select matNativeControl formControlName="merchant">
                        <option style="padding: 10px 5px;" value="{{merchant?.name}}" *ngFor="let merchant of merchants">{{merchant?.name}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                      <mat-form-field appearance="fill">
                          <mat-label>ctn/Kg</mat-label>
                          <input matInput formControlName="ctnKg" type="number">
                      </mat-form-field>
                  </div>
                  <div class="col-md-2">
                      <mat-form-field appearance="fill">
                          <mat-label>Rate</mat-label>
                          <input matInput formControlName="rate" type="number">
                      </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field appearance="fill">
                        <mat-label>Lot</mat-label>
                        <input matInput formControlName="lot" type="number">
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 mt-3 mb-3">
                      <button type="button" class="btn btn-success" (click)="editItem()"> + </button>
                      <button (click)="deleteEditRow(i)" class="btn btn-danger">
                        <i class="fa fa-trash red-icon edit-del"></i>
                      </button>
                    </div>
              </div>
            </div>
          </div> 
          <div class="text-center">
            <button type="submit" mat-raised-button class="btn btn-primary mr-4" [disabled]="!editBillForm.valid">Update Bill</button>
            <button type="reset" class="btn btn-secondary" #closeeditbutton data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>