<ngx-spinner></ngx-spinner>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <button mat-raised-button data-toggle="modal" data-target="#myModal"><span data-toggle="tooltip" title="Add Customer" style="padding: 5px;"> + </span></button>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <form [formGroup]="searchCustomerForm" class="search-form">
               <div class="row">
                 <div class="col-md-8">
                  <mat-form-field>
                    <input type="text"
                           placeholder="Search Customer"
                           aria-label="Customer"
                           matInput
                           [formControl]="searchCustomerForm.get('customer')"
                           [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option (onSelectionChange)="onSearchCustomerSubmit(customer)" *ngFor="let customer of filteredOptions | async" [value]="customer">
                        {{customer | titlecase}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <!-- <button class="btn btn-success" type="submit">
                    <i class="fa fa-search"></i>
                  </button> -->
                </div>
               </div>
              </form>
            </li>
            <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter" (click)="allCustomer()">
                  All Customers
                </button>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
                  Select City
                </button>
                <div class="dropdown-menu">
                  <p class="dropdown-item" (click)="cityFilter(city)" *ngFor="let city of cities">{{city | titlecase}}</p>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown nav-link">
                <button type="button" class="btn btn-filter dropdown-toggle" data-toggle="dropdown">
                  1-{{itemPage}} of {{totalCustomers}}
                </button>
                <div class="dropdown-menu">
                  <p class="dropdown-item" (click)="timespan('new')">Newest</p>
                  <p class="dropdown-item" (click)="timespan('old')">Oldest</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
    </nav>
</div>
<div class="container mt-3" *ngIf="customers?.length">
  <div class="table-responsive shadow">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Phone</th>
          <th>Pending Amount</th>
          <th>Total Amount</th>
          <th>Carats Pending</th>
          <th colspan="2" style="text-align: center;">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers | paginate: { itemsPerPage: itemPage, currentPage: page, totalItems: totalCustomers }">
          <td><a [routerLink]="customer?.name" (click)="setCustomer(customer?._id, customer?.name, customer?.city, customer?.phone)">{{customer?.name | titlecase}}</a></td>
          <td>{{customer?.city | titlecase}}</td>
          <td><a href="tel:{{customer?.phone}}">{{customer?.phone}}</a></td>
          <td>
            <span class="badge badge-pill badge-danger" *ngIf="customer?.totalBillAmount - customer?.totalDeposit > 10000">
              ₹ {{customer?.totalBillAmount - customer?.totalDeposit}}
            </span>
            <span class="badge badge-pill badge-warning" *ngIf="customer?.totalBillAmount - customer?.totalDeposit <= 10000 && customer?.totalBillAmount - customer?.totalDeposit > 0">
              ₹ {{customer?.totalBillAmount - customer?.totalDeposit}}
            </span>
            <span class="badge badge-pill badge-primary" *ngIf="customer?.totalBillAmount - customer?.totalDeposit <= 0">
              ₹ {{customer?.totalBillAmount - customer?.totalDeposit}}
            </span>
            <span class="badge badge-pill badge-success" *ngIf="customer?.totalBillAmount - customer?.totalDeposit <= 0">
              Paid
            </span>
          </td>
          <td>₹ {{customer?.totalBillAmount}}</td>
          <td>{{customer?.totalCaratsRemaining}}</td>
          <td class="text-center"><i class="fa fa-pencil-square-o edit-icon" (click)="getSingleCustomer(customer?._id)" data-toggle="modal" data-target="#myEditModal" aria-hidden="true"></i></td>
          <td class="text-center"><i class="fa fa-trash-o delete-icon" (click)="deleteCustomer(customer?._id, customer?.name, customer?.city)" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center mt-1">
  <pagination-controls (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true" autoHide="true"
  responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
  screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>  
</div>

<div class="container" *ngIf="!customers?.length">
  <div class="col-md-3"></div>
  <div class="col-md-6">No Customers Found</div>
  <div class="col-md-3"></div>
</div>
<!-- Add customer -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <div class="modal-header">
          <h4 class="modal-title">Add Customer Details</h4>
          <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <div class="modal-body">
          <form class="" [formGroup]="addCustomerForm" (ngSubmit)="onAddCustomerSubmit()" >
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!-- <mat-form-field>
                  <mat-label>Choose City</mat-label>
                  <select matNativeControl formControlName="city">
                    <option value="{{city}}" *ngFor="let city of cities">{{city}}</option>
                  </select>
                </mat-form-field> -->
                <mat-form-field>
                  <input type="text"
                         placeholder="Enter city"
                         aria-label="City"
                         matInput
                         [formControl]="addCustomerForm.get('city')"
                         [matAutocomplete]="autoCity">
                  <mat-autocomplete autoActiveFirstOption #autoCity="matAutocomplete">
                    <mat-option *ngFor="let city of filteredCityOptions | async" [value]="city">
                      {{city}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="fill">
                  <mat-label>Phone</mat-label>
                  <input type="number" matInput formControlName="phone">
              </mat-form-field>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mr-4" [disabled]="!addCustomerForm.valid">Add Customer</button>
              <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
            </div>
          </form>
        </div>  
      </div>
    </div>
</div>
<!-- Edit Customer -->
<div class="modal" id="myEditModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Customer Details</h4>
        <button type="button" #closeeditbutton class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="" [formGroup]="editCustomerForm" (ngSubmit)="onEditCustomerSubmit(customer?._id)" >
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>{{customer?.name}}</mat-label>
                <input matInput type="text" disabled>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>{{customer?.city}}</mat-label>
                <input type="text" matInput disabled>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input type="number" matInput formControlName="phone">
              </mat-form-field>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mr-4" [disabled]="!editCustomerForm.valid">Update Customer</button>
            <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
          </div>
        </form>
      </div>  
    </div>
  </div>
</div>