.login-page, .scene, .login-form{
    height: 100vh;
}
.login-page .scene{
    background: url('../../../assets/images/login-img.webp');
    background-size: cover;
//    background: linear-gradient(223.15deg, #242348 0%, #5a55aa 100%);
}
.login-form{
    display: table;
}
.login-form .content{
    display: table-cell;
    vertical-align: middle;
} 

.social-login{
    text-align: center;
}
/* style inputs and link buttons */
input,
.btn-social {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none; /* remove underline from anchors */
}

.btn-social:hover,
.btn-social:hover {
    color: white;
    opacity: 1;
    cursor: pointer;
}
/* add appropriate colors to fb, twitter and google buttons */
.fb {
    background-color: #3B5998;
    color: white;
}
  
.google {
    background-color: #dd4b39;
    color: white;
}

@media screen and (max-width: 600px){
    .login-form{
       background: linear-gradient(223.15deg, #242348 0%, #5a55aa 100%);
    }
    p{
        color: white !important;
    }
    .sign-deactive{
        display: none;
    }
    .sign-active{
        background: #eeeef5;
        color: #25244a;
        margin-right: 0 !important;
    }
    .mt-5{
        text-align: center;
    }
    .form-control{
        background: none;
        color: white;
    }
    .form-check-label{display: none}
    .borderbtm span::before{
        color: white !important;
    }
}