<ngx-spinner></ngx-spinner>
<div class="container-fluid">
    <div class="login-page">
        <div class="row">
            <div class="col-md-6 hidden-mobile hidden-mobile-landscape scene">

            </div>
            <div class="col-md-6 login-form">
                <div class="content">
                    <div class="headers center">
                        <p class="logo-text" style="margin-bottom: 20px;">MANSA</p>
                        <p class="slogan">Welcome back! Please login to your account.</p>
                    </div> 
                    <div class="form-container-sign">
                        <!-- <form [formGroup]="loginForm" class="">
                            <div class="form-group borderbtm">
                                <input formControlName="email" type="email" class="form-control" id="email">
                                <span data-placeholder="Email"></span>
                            </div>
                            <div class="form-group borderbtm">
                                <input formControlName="password" type="password" class="form-control" id="pwd">
                                <span data-placeholder="Password"></span>
                            </div>
                            <div class="center mt-5">
                                <button type="submit" (click)="onLoginSubmit()" [disabled]="loginForm.invalid" class="btn sign-active">
                                    Login
                                </button>
                            </div>
                        </form> -->
                        <div class="row social-login mt-5">
                            <div class="col-md-6">
                                <a (click)="socialLogin('facebook')" class="fb btn-social">
                                    <i class="fa fa-facebook fa-fw"></i> Facebook
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a (click)="socialLogin('google')" class="google btn-social"><i class="fa fa-google fa-fw">
                                    </i> Google+
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>