<div class="container shadow">
    <div class="clearfix pad-20">
        <div class="float-left">
            <h1 class="text-center logo-text">Shop Details</h1>
        </div>
        <div class="float-right mob">
            <button mat-raised-button data-toggle="modal" class="mob" data-target="#myEditModal">Change Details</button>
        </div>
    </div>
    <hr>
    <div class="table-responsive pad-20 shadow">
      <table class="table table-striped">
        <tbody>
            <tr>
              <th>Shop Id</th>
                <td>{{shopDetails?._id}}</td>
            </tr>
            <tr>
              <th>Shop Full Name</th>
                <td>{{shopDetails?.shopName | titlecase}}</td>
            </tr>
            <tr>
              <th>Phone</th>
                <td>
                  <a href="tel:{{shopDetails?.shopPhone1}}">{{shopDetails?.shopPhone1}}</a>
                   | <a href="tel:{{shopDetails?.shopPhone2}}">{{shopDetails?.shopPhone2}}</a>
                </td>
            </tr>
            <tr>
              <th>Shop Address</th>
                <td>{{shopDetails?.shopAddress | titlecase}}</td>
            </tr>
            <tr>
              <th>Shop City</th>
                <td>{{shopDetails?.shopCity | titlecase}}</td>
            </tr>
            <tr>
              <th>Seller Name</th>
                <td>{{shopDetails?.userId?.username | titlecase}}</td>
            </tr>
            <tr>
              <th>Seller Email</th>
                <td>{{shopDetails?.userId?.email}}</td>
            </tr>
        </tbody>
      </table>
    </div>
</div>
<ngx-spinner></ngx-spinner>
<!-- Edit Shop -->
<div class="modal" id="myEditModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Shop Details</h4>
          <button type="button" #closeeditbutton class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="" [formGroup]="editShopForm" (ngSubmit)="onEditShopSubmit(shopDetails?._id)" >
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Shop Full Name</mat-label>
                  <input matInput type="text" formControlName="shopName">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Shop Full Address</mat-label>
                  <input type="text" matInput formControlName="shopAddress">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Shop City</mat-label>
                  <input type="text" matInput formControlName="shopCity">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Shop Phone 1</mat-label>
                  <input type="number" matInput formControlName="shopPhone1">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Shop Phone 2</mat-label>
                  <input type="number" matInput formControlName="shopPhone2">
                </mat-form-field>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mr-4" [disabled]="!editShopForm.valid">Update Shop</button>
              <button type="reset" class="btn btn-secondary" (click)="onReset()">Reset</button>
            </div>
          </form>
        </div>  
      </div>
    </div>
  </div>
<br>

