.logo-img {
    height: 125px;
    margin-bottom: 35px;
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
}
.pad-20 {
    padding: 20px;
}
.container {
    background: white;
}
.shadow {
    padding-bottom: 15px;
}

@media (max-width: 767.98px) {
    .logo-text {
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #43425d;
    }
    .mob {
        width: 100%;
    }
}
